<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Sign Up</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="background-color: #eeeeee; margin-top: 5em;">
    <div class="form-group">
        <label><a th:href="@{/login}">Back to Login</a></label>
    </div>

    <h1 class="display-5">Log out</h1>
    <div>
        <form action="#" th:action="@{/logout}" method="POST">
            Please click  <a href="#" onclick="this.parentNode.submit();"> here</a> to log out.
        </form>
    </div>
</div>
</body>
</html>