<div th:fragment="notesTab">
<button style="margin: 0.25em;" type="button" id="add-note-button" class="btn btn-info float-right" onclick="showNoteModal()">
    + Add a New Note
</button>

<div class="table-responsive">
    <table class="table table-striped" id="userTable">
        <thead>
        <tr>
            <th style="width: 20%" scope="col"></th>
            <th style="width: 20%" scope="col">Title</th>
            <th style="width: 60%" scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="noteDisplay : ${notes}">
            <td>
                 <button th:nTitle="${noteDisplay.notetitle}"
                         th:nDes="${noteDisplay.notedescription}"
                         th:nid="${noteDisplay.noteid}"
                         th:onclick="javascript:showNoteModal(
                         this.getAttribute('nid'),
                         this.getAttribute('nTitle'),
                         this.getAttribute('nDes'));"
                         type="button" class="btn btn-success">Edit</button>
                <a th:href="@{/home/notes/delete/{id}(id=${noteDisplay.noteid})}" class="btn btn-danger">Delete</a>
            </td>
            <th th:text="${noteDisplay.notetitle}" scope="row"></th>
            <td th:text="${noteDisplay.notedescription}"> </td>
        </tr>
        </tbody>
    </table>
</div>

    <div th:replace="/tabs/modals/addNote :: addNoteModal"/>

</div>